<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module{layoutSuffix}"/>

<f:section name="Content">
    <f:variable name="lll" value="LLL:EXT:mail/Resources/Private/Language/Modules.xlf:"/>
    <f:variable name="llg" value="LLL:EXT:core/Resources/Private/Language/locallang_general.xlf:"/>
    <h1>Oprettelse af modtagerliste</h1>
    <form id="createNewList-form" action="{f:be.uri(route: 'mail_wizard_alt_create_new_list', referenceType: 'url')}"
          target="_top" method="post">
        <f:form.hidden name="page" value="{pid}"/>
        <span style="width:200px; display:inline-block;">
                <f:form.textfield class="form-control" name="inputNameNewList"
                                  placeholder="{f:translate(key: '{lll}recipient.inputNameNewList', default: 'Navn på modtagerliste')}"/>
        </span>
        <span>
            <f:form.submit class="btn btn-mail-theme text-uppercase" name="submit"
                   value="{f:translate(key: '{lll}recipient.button.createList', default: 'Opret')}"/>
        </span>
    </form>
    <f:if condition="{groups}">
        <h2>Modtagerliste via gruppe på Medarbeideren</h2>
        <form id="createNewListFromMedarbeideren-form" action="{f:be.uri(route: 'mail_wizard_alt_create_new_list_from_medarbeideren', referenceType: 'url')}"
              target="_top" method="post">
            <f:form.hidden name="page" value="{pid}"/>
            <span style="width:400px; display:inline-block;">
                <f:form.select class="form-control" name="inputGroupNewList" options="{groups}" />
            </span>
            <span>
                <f:form.submit class="btn btn-mail-theme text-uppercase" name="submit"
                               value="{f:translate(key: '{lll}recipient.button.createList', default: 'Opret')}"/>
            </span>
        </form>
    </f:if>

    <p id="form-status"></p>
    <script>
        var form = document.getElementById("createNewList-form");
        var formMedarbeideren = document.getElementById("createNewListFromMedarbeideren-form");
        async function handleSubmit(event) {
            require([
                'nprogress'
            ], function(NProgress){
                // do some stuff like
                NProgress.start();
                NProgress.set(0.5);
            });
        }
        form.addEventListener("submit", handleSubmit)
        formMedarbeideren.addEventListener("submit", handleSubmit)
    </script>
    <br/>
    <br/>
    <h1>
        <f:translate key="{lll}recipient.header"/>
    </h1>
    <f:render partial="Recipient/Groups" arguments="{_all}" />
</f:section>
</html>
