<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
        xmlns:mwa="http://typo3.org/ns/DKM/MailWizardAlt/ViewHelpers"
        data-namespace-typo3-fluid="true">
<f:if condition="{group.recipientSources}">
    <mwa:updateArray path="recipientSources.tx_mail_domain_model_group.title" newValue="Medarbeideren gruppeliste" overrideOnly="true"></mwa:updateArray>
    <mwa:updateArray path="recipientSources.tx_mail_domain_model_group.editCsvList" newValue="" overrideOnly="true"></mwa:updateArray>
</f:if>

<f:render section="Before" arguments="{_all}" optional="true" />

<div class="module {moduleClass}" data-module-id="{moduleId}" data-module-name="{moduleName}">
    <f:if condition="{formTag}">
        <f:then>
            <f:format.raw>{formTag}</f:format.raw>
        </f:then>
    </f:if>
    <f:if condition="{docHeader.enabled}">
        <f:render partial="DocHeader" arguments="{docHeader:docHeader}" />
    </f:if>
    <div class="module-body t3js-module-body">
        <f:if condition="{uiBlock}">
            <div id="t3js-ui-block" class="ui-block">
                <core:icon identifier="spinner-circle" size="large" />
            </div>
        </f:if>
        <f:flashMessages queueIdentifier="{flashMessageQueueIdentifier}" />

        <f:render section="Content" arguments="{_all}" optional="true" />

    </div>
    <f:if condition="{formTag}">
        <f:then>
            </form>
        </f:then>
    </f:if>
</div>

<f:render section="After" arguments="{_all}" optional="true" />

</html>
