<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:mail="http://typo3.org/ns/MEDIAESSENZ/Mail/ViewHelpers"
      data-namespace-typo3-fluid="true">
<div class="panel panel-default">
    <div class="table-fit">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="col-title col-responsive nowrap ps-4">
                    <f:translate key="{llg}LGL.title"/>
                </th>
                <th>
                    <f:translate key="{llg}LGL.description"/>
                </th>
                <th>
                    <f:translate key="{llg}LGL.type"/>
                </th>
                <th class="col-control nowrap"></th>
                <th class="col-icon nowrap"></th>
            </tr>
            </thead>
            <f:for each="{data}" as="group">
                <tr>
                    <td class="col-title col-responsive nowrap">
                        <be:link.editRecord uid="{group.group.uid}" table="tx_mail_domain_model_group" fields="title"
                                            class="btn btn-default" title="Edit title">
                            <core:icon identifier="actions-open" size="small"/>
                        </be:link.editRecord>
                        {group.group.title}
                    </td>
                    <td class="col-responsive nowrap">
                        {group.group.description}
                    </td>
                    <td class="nowrap">
                        <f:switch expression="{group.group.type}">
                            <f:case value="2">Modtagerliste</f:case>
                            <f:case value="1">
                                <f:if condition="{group.group.recipientSources.0} == 'medarbeideren'">
                                    <f:then>
Medarbeideren gruppeliste
                                    </f:then>
                                    <f:else>
CSV-liste
                                    </f:else>
                                </f:if>
                            </f:case>
                        </f:switch>
                    </td>
                    <td class="col-control nowrap">
                        <f:variable name="deleteOnclick"><f:spaceless>
                            <f:if condition="{group.count}">
                                return confirm('Der er tilmeldte på denne liste. Er du sikker på at du vil slette listen?');
                            </f:if>
                        </f:spaceless></f:variable>
                        <f:be.link route="mail_wizard_alt_delete_list" parameters="{page: group.group.uid}"
                                            class="btn {f:if(condition: '{group.count}', then: 'btn-danger btn-warning', else: 'btn-default')}" title="Slet liste" onclick="{deleteOnclick}">
                            <core:icon identifier="actions-delete" size="small"/>
                        </f:be.link>
                        <f:link.action class="btn btn-default" action="show" arguments="{group: group.group.uid}">
                            <span class="position-relative">
                                Vis modtagere
                                <core:iconForRecord row="{uid:group.group.uid, type:group.group.type}" table="tx_mail_domain_model_group"/>
                                <span class="position-absolute top-25 start-100 translate-middle badge rounded-pill bg-mail-theme pb-1">{group.count}</span>
                            </span>
                        </f:link.action>
                    </td>
                    <td class="col-icon nowrap">
                    </td>
                </tr>
            </f:for>
        </table>
    </div>
</div>
</html>
